/* body */ 
body{ background-color: rgba(182, 144, 202, 0.534);}

/* header*/
.logo_berry{width: 100px; height: 100px;
    position: fixed;top: 2px; right: 0px;
}
.bienvenida{font-family: sans-serif;font-size: 60px;
color: rgb(119, 103, 177);display: flex;justify-content: center;align-items: center;} 


/* menu */  
 ul {display: flex; flex-direction: row; justify-content: space-evenly;}
 [href] {color: rgb(99, 18, 85); 
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 30px; }

   /* BOTON MENU */
button {background-color: rgb(193, 133, 199)
    ;border-radius: 8px;
border: rgb(181, 129, 185) solid;
}
  
/* ofertas de la semana */

.oferta{ height: 250px; width: 330px;
border-radius: 10px;}

.oferta_titulo{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color: rgba(0, 0, 139, 0.281)
;color:rgb(109, 92, 170) ;
font-size: 20px;height: 5px;}

/* NOTICIAS */ 
    .noticias_titulo{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(0, 0, 139, 0.281)
    ;color:rgb(109, 92, 170) ;
    font-size: 20px;height: 5px;}
 
    .noticias_titulo--chico{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(109, 92, 170) ; }
    .noticia_parrafo{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(109, 92, 170) }
    .imagen_apple{width: 300px;height: 300px;
    border-radius: 10px;}
    .imagen_samsung{width: 500px;height: 300px;
    border-radius: 10px;}

    /* FOOTER */
    footer { background-color:rgba(92, 23, 126, 0.24) ;}
    .pie{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color:rgba(64, 48, 122, 0.74);margin: 30px;}

     
     
        /* PAGINA NOSOTROS */
        .nosotros{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color:rgb(109, 92, 170)}
        .direccion__imagen { width: 350px;height: 350px;
        border-radius: 15px;}
        .direccion{font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color:rgb(109, 92, 170);
        }

        
        /* VENTAS */

.imagen_ventas {height: 250px;height: 250px; border-radius: 15px;}
#titulo-venta{color: darkviolet;}

