/* body */ 
body{ background-image: url(../berryMobile/multimedia/celula6.jpg);
;background-size: cover;background-attachment: fixed;
font-family: 'Montserrat', sans-serif;
margin: 0;padding: 0;}

/* header*/
.logo_berry{width: 100px; height: 100px;
    position: fixed;top: 2px; right: 0px;}
 
    header{background-color: black;
    margin:0%;padding: 0%;}
.bienvenida{
color: rgb(98, 84, 148);display: flex;justify-content: center;align-items: center;
font-size: 50px;margin-top: 0%;} 

nav  ul li {display: inline;; justify-content: center; align-items: center; margin: 85px;}


 [href] {color: rgb(246, 245, 246); 
font-size: 30px; }

    
/* ofertas de la semana */

.oferta{ height: 250px; width: 330px;
border-radius: 10px;}

.oferta_titulo{
background-color: rgba(0, 0, 139, 0.281)
;color:rgb(109, 92, 170) ;
font-size: 30px;height: 10px;}

/* NOTICIAS */ 
    .noticias_titulo{
    background-color: rgba(0, 0, 139, 0.281)
    ;color:rgb(109, 92, 170) ;
    font-size: 30px;height: 10px;}
 
    .noticias_titulo--chico{
    color:rgb(109, 92, 170);font-size: 20px;}
    
    .noticia_parrafo{font-size: 18px;
    color:rgba(7, 3, 26, 0.513);background-color: rgba(241, 238, 238, 0.253)}

    .imagen_apple{width:;height: 300px;
    border-radius: 10px;}
    .imagen_samsung{width: 500px;height: 300px;
    border-radius: 10px;}

    /* FOOTER */
    footer { background-color:rgba(30, 18, 36, 0.767) ;}
    .pie
       {color:rgba(233, 230, 246, 0.74);margin: 30px;
    text-align: center;}

     
     
        /* NOSOTROS */
        .nosotros_parrafo{ color:rgba(7, 3, 26, 0.513);background-color: rgba(241, 238, 238, 0.253)}
         .direccion__imagen { width: 350px;height: 350px;
        border-radius: 15px;}
        .direccion{ color:rgba(7, 3, 26, 0.513);background-color: rgba(241, 238, 238, 0.253) }


        /* PEDIDOS */
        h2{color: rgb(105, 53, 105); font-size: 30px;
        }
        h3{font-size: 20px; color:rgba(7, 3, 26, 0.513);background-color: rgba(241, 238, 238, 0.253)}

        /* SERVICIO TECNICO */
.formulario{text-align: center;}
        
        /* VENTAS */
        

.imagen_ventas {height: 250px;height: 250px; border-radius: 15px;}
#titulo-venta{color: darkviolet;}

